_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

.hugo_build.lock
.Rproj.user
.Rhistory
.RData
.Ruserdata
index_cache
public
static/figures
# fix postref https://github.com/rstudio/blogdown/issues/576
/blogdown
*.Rproj
/public
