baseurl = "https://gufei.netlify.app/"
languageCode = "en-us"
hasCJKLanguages = "true"
title = "Fei"
theme = "hugo-lithium"
googleAnalytics = "UA-165298048-1"
disqusShortname = "gufei"
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_files$", "_cache$"]

[permalinks]
    post = "/:year/:month/:day/:slug/"

[[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
[[menu.main]]
    name = "About"
    url = "/about/"
    weight = 4
[[menu.main]]
    name = "GitHub"
    url = "https://github.com/flashsherlock/rwebsite"
    weight = 3
[[menu.main]]
    name = "Lab"
    url = "http://zhouw.psych.ac.cn/"
    weight = 2

[params]
    description = "A website built through Hugo and blogdown."

    # options for highlight.js (version, additional languages, and theme)
    highlightjsVersion = "9.12.0"
    highlightjsCDN = "//cdnjs.cloudflare.com/ajax/libs"
    highlightjsLang = ["r", "yaml"]
    highlightjsTheme = "github"

    MathJaxCDN = "//cdnjs.cloudflare.com/ajax/libs"
    MathJaxVersion = "2.7.5"

    # path to the favicon, under "static"
    favicon = "favicon.ico"

    [params.logo]
    url = "logo.png"
    width = 50
    height = 50
    alt = "Logo"

[markup]
  defaultMarkdownHandler = "blackfriday"
  [markup.highlight]
    codeFences = false
    guessSyntax = true